<!-- NOC_METRIC_QUICK_FIX_CSS -->


body{
background-color:#123456;

}

#MET1{
position:fixed;
top:0px;
left:0px;
width:100%;
height:50%;
background-color:#000022;

}

#MET2{
position:fixed;
bottom:0px;
left:0px;
width:100%;
height:50%;
background-color:#000055
}

#title{
position:fixed;
top:5%;
left:65%;
font-size:250%;
color:#CCFFFF;
}

#MET1t{
position:fixed;
top:15%;
left:60%;
font-size:200%;
color:#CCFFFF;
}

#MET2t{
position:fixed;
bottom:35%;
left:60%;
font-size:200%;
color:#CCFFFF;
}


#MET1m{
position:fixed;
left:0px;
width:60%;
height:50%;
}

#MET2m{
position:fixed;
left:0px;
width:60%;
height:50%;
}

#LOAD1, #LOAD2, #LOAD3, #LOAD4, #LOAD5, #LOAD6, #LOAD7, #LOAD8{
width:1px;
height:1px;
position:absolute;
top:1px;
}


#next{
position:fixed;
right:10%;
top:48.5%;
}

#jump{
position:fixed;
right:15.5%;
top:48.75%;
}

#back{
position:fixed;
right:25%;
top:48.5%;
}

#Tless{
position:fixed;
right:21%;
top:40%;
}

#Tmore{
position:fixed;
right:13%;
top:40%;
}

#Bless{
position:fixed;
right:21%;
bottom:40%;
}

#Bmore{
position:fixed;
right:13%;
bottom:40%;
}

#Tleg{
position:fixed;
right:17%;
top:40%;
}

#Bleg{
position:fixed;
right:17%;
bottom:40%;
}

#cover{
position:fixed;
visibility:show;
width:60%;
height:80%;
background-color:#000000;
z-index:1;
top:10%;
right:5px;
}